<h2>New Question</h2>
<form action="/posts" method="post" >
  <label for="title">Title:</label>
  <input name="title">
<!-- does the textbox here apply? -->
  <label for="content">Content:</label>
  <input name="content">
  <input type="submit" value="Create">
</form>
